* {
	margin: 0;
	padding: 0;
}

/*! INTRO */
.introHolder {
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	background-color: #2b2b2b;
	font-family: Comfortaa;
	font-size: 5rem;
	padding-top: 3%;
	color: #eb2e6a;
}

/*! ALL CARDS */
.all-main {
	display: flex;
	justify-content: center;
	align-items: center;
}
.all-card .all-heading {
	text-align: center;
	font-family: Comfortaa;
	font-weight: bolder;
	font-size: 4rem;
	transition: all 0.4s;
}
.all-card .all-text {
	font-family: Comfortaa;
	font-size: 2rem;
}
.all-card:hover .all-text {
	opacity: 1;
	transform: translateY(20px);
}
.all-card::after,
.all-card::before {
	content: '';
	top: 0;
	left: 0;
	z-index: -1;
}

/*!: ABOUT ME*/
.am-main {
	background-color: #38c98d;
}
.am-card {
	width: fit-content;
	height: fit-content;
	position: relative;
}
.am-card .am-heading {
	transform: translateY(65vh);
	transition: all 1s;
}
.am-card:hover .am-heading {
	transform: translateY(15vh);
}
.am-card .am-text {
	color: white;
	margin: 10%;
	opacity: 0;
	/* position: absolute; */
	transform: translateY(10px);
	transition: all 0.4s;
}
.am-card::after,
.am-card::before {
	width: 100%;
	height: 100%;
}
.am-card:hover .am-text {
	transform: translateY(40px);
	opacity: 1;
}

/*! SKILLS */
.s-main {
	padding: 5%;
	background-color: #eb2e6a;
}
.s-card {
	width: fit-content;
	height: fit-content;
	position: relative;
}
.s-card .s-heading {
	color: yellow;
	font-size: 5rem;
	transform: translateY(45vh);
}
.s-card:hover .s-heading {
	transform: translateY(10vh);
}
.s-card .s-text {
	margin-top: 10%;
	/* color: ; */
	opacity: 0;
	transform: translateY(10px);
	transition: all 0.5s;
}
.s-card:hover .s-heading {
	transition: all 1s;
}
.s-card:hover .s-text {
	transform: translateY(20px);
	transition: all 0.5s;
}
.s-card::after,
.s-card::before {
	width: 100%;
	height: 100%;
}
.s-text img {
	margin: 7%;
}
.skills {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	flex-direction: row;
}

/*! END */
.e-main {
	background-color: #eda8ff;
	padding: 10%;
	display: flex;
	justify-content: center;
	text-align: center;
	align-items: center;
}
.e-card {
	width: fit-content;
	height: fit-content;
	position: relative;
}
.e-card .e-heading {
	color: #32289b;
	transform: translateY(3rem);
}
.e-card:hover .e-heading {
	transform: translateY(-6rem);
}
.e-card .e-text {
	padding: 5%;
	opacity: 0;
	transform: translateY(30px);
	transition: all 0.4s;
}
.e-card:hover .e-text {
	transform: translateY(20px);
	opacity: 1;
}
.e-card::after,
.e-card::before {
	width: 100%;
	height: 100%;
}
.e-card .e-btn {
	border: 2px solid yellow;
	color: yellow;
	position: absolute;
	font-family: comfortaa;
	font-size: 2rem;
	border-radius: 10px;
	padding: 5%;
	margin-bottom: 5;
	outline: none;
	opacity: 0;
	transform: translateY(140px);
	transition: all 0.5s;
	background: #140564;
}
.e-btn:hover {
	color: #ff4773;
	border-color: red;
}
.e-card:hover .e-btn {
	transform: translateY(110px);
	opacity: 1;

	transition: all 1s;
}
.e-card:hover .e-text {
	transform: translateY(-40px);
	opacity: 1;

	transition: all 1s;
}
.e-card::after,
.e-card::before {
	content: '';
	top: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
}

/*!Contact Info*/
.contactInfoMain {
	background: coral;
}
.contactHeading {
	display: flex;
	justify-content: center;
	padding-top: 2%;
	padding-bottom: 3%;
	font-family: Comfortaa;
	font-size: 4rem;
	color: black;
}
.contactHolder {
	display: flex;
	flex-direction: row;
	order: 5;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: baseline;
}
.contactElements {
	margin-left: 6%;
	margin-right: 6%;
	margin-bottom: 3%;
	transform: translateY(1rem);
	transition: all 1s;
}
.contactElements:hover {
	transform: translateY(-1rem);
	transition: all 1s;
}

/*! Source Code */
#sourcecode {
	padding: 3rem;
	text-align: center;
	background-color: black;
	text-decoration: none;
	font-family: Comfortaa;
	color: white;
	font-size: 3rem;
}
#sourcecode a {
	opacity: 0;
}
#sourcecode:hover a {
	opacity: 1;
	transition: all 0.5s;
}
#sourcecode a font:hover {
	color: yellow;
	transition: all 0.4s;
}

/*! Copyright */
.copyright {
	padding: 2rem;
	text-align: center;
	color: black;
	font-family: comfortaa;
	font-size: 2rem;
	background-color: cornflowerblue;
}
